.title-h1{
    background-color: rgb(165,42,42);
    color: rgb(255,255,255);
}

body{
    margin: 40px, 0;
    font-size: 18px;
}

.car-table tr td{
    border-style: dashed
}

footer{
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-size: 20px;
}